<section>
  
  <ngb-carousel>
    <ng-template ngbSlide>
      <div>
        <img src="../../assets/images/pexels-chait-goli-1796715.jpg" alt="first slide">
      </div>
    </ng-template>
  
    <ng-template ngbSlide>
      <div>
        <img src="../../assets/images/pexels-eli-zaturanski-821679.jpg" alt="Second slide">
      </div>
    </ng-template>
  
    <ng-template ngbSlide>
      <div>
        <img src="../../assets/images/pexels-pixabay-45182.jpg" alt="Third slide">
      </div>
    </ng-template>
  
    <ng-template ngbSlide>
      <div>
        <img  src="../../assets/images/pexels-roberto-vivancos-2190283.jpg" alt="fourth slide">
      </div>
      
    </ng-template>
    <ng-template ngbSlide>
      <div>
        <img  src="../../assets/images/pexels-thorsten-technoman-338515.jpg" alt="fifth slide">
      </div>
    </ng-template>
  </ngb-carousel>
  <!-- update for deployment to `/Wayfarer/cities` to route correctly on gh-pages -->
  <a href="/Wayfarer/cities" class="btn btn-primary" id="enter-site">Search</a>
</section>