<section>
  Search City: {{city}}
  <input
    [(ngModel)]="city"
    ngx-google-places-autocomplete
    (onAddressChange)="handleCityChange($event)"
    type="text" placeholder="Enter City Name"
  />
  <!-- <input type="submit" value="Search" (click)="findCity(city)"/> -->
</section>

<div class="container">
  <p>Address: {{ userCity }}</p>
  <p>Latitude: {{ cityLatitude }}</p>
  <p>Longitude: {{ cityLongitude }}</p>
  <p>
    <img *ngFor="let pic of cityPhotos" src={{pic.getUrl()}} />
  </p>
</div>