<div class="card" *ngIf="selectedCityFullName == undefined">
  <h3>Search for What's Out There</h3>
  <h4>Get Location and Review information to plan your next outing.</h4>
</div>

<div class="card" id="search-results" *ngIf="selectedCityFullName">
  <section id="title">
    <h1>
      {{selectedCityShortName}}
    </h1>

    <div id="location-info">
      <span>
        {{ selectedCityFullName }}
      </span>
      <a id="official-site" *ngIf="selectedCityWebsite" href={{selectedCityWebsite}} target="_blank" rel="noopener noreferrer">
        Visit {{selectedCityShortName}}'s Official Website
      </a>
    </div>
  </section>

  <ngb-carousel>
    <ng-template ngbSlide *ngFor="let pic of selectedCityPhotos">
      <img [src]="pic.getUrl()" alt="Random slide">
    </ng-template>
  </ngb-carousel>

  
  <button (click)="findWeather()">Get Local Weather</button>

  <!-- if weather object exists-->
  <!-- pass object name -->
  <!-- pass first weather description-->

  <!-- <section *ngIf="weather"> 
    <h3>Here's the weather in {{weather.name}}:</h3> 
    <p>{{weather[0].main}}</p>
    <p>Currently {{weather[0].description}}.</p>

    <p>There's a high of {{weather.main.temp_max}} &#176;F and a low of {{weather.main.temp_min}} &#176;F.</p>
    <p>Wind Speed{{weather.wind.speed}}/mph</p>
  </section> -->
  {{weather}}
  <app-post></app-post>
</div>